.allButton{
    -fx-background-color:   #4169e1;
}

.buttonDash:hover{
    -fx-background-color: #2979FF;
    -fx-opacity: 50%;

}
.buttonShadow:hover{
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
}
#button:pressed{
    -fx-background-color: #4FC3F7;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
}